body{
    background-image:url('../img/fundolog.png');
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    background-repeat: no-repeat;
}
img{
    display: block;
    margin: auto;
    margin-top: 200px;
}
h3{color:#FFF;
    text-align: center;}
form{
    text-align: center;
    margin-top: 20px;
    }
input[type="username"]{
    border: 1px solid #686868;
    width: 250px;
    height: 35px;
    padding-left: 10px;
    margin-top: 20px;
    }
input[type="password"]{
        border: 1px solid #686868;
        width: 250px;
        height: 35px;
        padding-left: 10px;
        }
input[type="submit"]{
        border: none;
        width: 250px;
        height: 25px;
        padding-left: 10px;
        }
input[type="submit"]:hover{
        background-color: #000;
        color: #FFF;
        cursor: pointer;
    }
a{
        text-decoration:none; color: #000;
    }
.cad{
        text-align: center;
    }
.form-control{
        margin-left: 39%;
        padding: 0%;
        }
    h6
    {
            color:#FFF;
            margin-top:20px;
        }
        .alert{
            margin-left:30%;
            text-align:center
        }
.alert-danger{
    width:35%;
}