
body{
    background-image: url(../img/fundoindex.png);
    background-repeat: no-repeat;
}

main{
    height: 980px;
    position: relative;
    margin: 0 auto;
}
form{
text-align: center;
margin-top: 20px;
}
input[type="text"]{
    border: 0.5px solid #686868;
    width: 250px;
    height: 25px;
    padding-left: 10px;
}
