
body{
    width: 100%;
    height: 100%;
    background-image:url('../img/fundoindex.png');
}

main{
    height: 980px;
    position: relative;
    margin: 0 auto;
}
form{
text-align: center;
margin-top: 20px;
}
input[type="text"]{
    border: 0.5px solid #686868;
    width: 250px;
    height: 25px;
    padding-left: 10px;
}
#publicar{
    margin-left: 25%;
    margin-top: 20px;
    width: 50%;
}
#butpub{
    margin-top: 10px;
    margin-left: 87%;
}
#file-input{
margin-left: 423px;
}
div.pub{
    width: 400px; min-height: 70px; max-height: 1000px; display: block; margin: auto; border: none;
    border-radius: 5px; background-color: #FFF; box-shadow: 0 0 6px #A1A1A1; margin-top: 30px;
}
div.pub a{
    color: rgb(31, 31, 31); text-decoration: none;
}

div.pub a:hover{
    color: #111; text-decoration: none;
}
div.pub p{
    margin-left:10px; content: rgb(31, 31, 31); padding-top: 10px;
}
div.pub span{
    display: block; margin: auto; width: 300px; margin-top: 10px;
}
div.pub img{
    display: block; margin: auto; width: 100%; margin-top: 10px; border-bottom-left-radius: 5px;
}
h3{
    text-align: center;
    margin-top: 2px;
}
h4{
    text-align: center;
    margin-top: 2px;
}
div#menu{
    width: 400px; height: 115px; display: block; margin: auto; border: none;
    border-radius: 5px; background-color: #FFF; 
}   
img#profile{
    width: 100px;
    height: 100px;
    display: block;
    margin: auto;
    border: 3px solid #FFF;
    border-radius: 10px;
    background-color: #FFF;
    margin-bottom: -10px;
    margin-top: 30px;
}
.file{
    border: #FFF;
    background-color: #FFF;
    margin-top: -179%;
    margin-left: -1647%;
}
.alert{
    margin-left:30%;
    text-align:center
}
.alert-danger{
width:35%;
}
div#footer{
    text-align: center;
    color: #FFF;
    margin-top: 15px;
}