body{
    background-color: #23201E;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
h3{
    margin-top: 30px;
    text-align: center;
    color: #FFF;
}
h4{
    text-align: center;
    color: rgb(31, 31, 31);
}
p[name=p]{
    display: block;
    margin: auto;
    text-align: center;
    color: rgb(31, 31, 31);
    max-width: 700px;
}
a[name=p]{
    color: #111111;
    text-decoration: none;
}
.alert{
    margin-left:30%;
    text-align:center
}
.alert-danger{
width:35%;
}
div#box{
    width: 500px; min-height: 70px; max-height: 1000px; display: block; margin: auto; border: none;
    border-radius: 5px; background-color: #FFF; box-shadow: 0 0 6px #A1A1A1; margin-top: 30px;
}