body{
    width: 100%;
    height: 100%;
    background-color: rgb(12, 12, 12);
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
img{
    display: block;
    margin: auto;
    margin-top: 120px;
}
h2{color:#FFF;
    text-align: center;}
form{
    text-align: center;
    margin-top: 20px;
    }
input[type="username"]{
    border: 1px solid #686868;
    width: 250px;
    height: 25px;
    padding-left: 10px;
    margin-top: 20px;
    }
input[type="password"]{
    border: 1px solid #686868;
    width: 250px;
    height: 25px;
    padding-left: 10px;
    margin-top: 20px;
    }
input[type="submit"]{
    border: none;
    width: 250px;
    height: 25px;
    padding-left: 10px;
    margin-top: 20px;
    }
    input[type="submit"]:hover{
        background-color: #722f37;
        color: #FFF;
        cursor: pointer;
    }
input[type="date"]{
    border: 1px solid #686868;
    width: 250px;
    height: 25px;
    padding-left: 10px;
    margin-top: 20px;
}
input[type="name"]{
    border: 1px solid #686868;
    width: 250px;
    height: 25px;
    padding-left: 10px;
    margin-top: 20px;
}
input[type="email"]{
    border: 1px solid #686868;
    width: 250px;
    height: 25px;
    padding-left: 10px;
    margin-top: 20px;
}
p{
    color: #FFF;
    text-align: center;
}
a{text-decoration:none; color: #722f37;}
